In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../pruebas_datos/2020-12-03.csv')

In [3]:
data.head()

,time,measurement,site_id,mote_id,sensor_id,sensor_status,sensor_value
0,2020-12-03T00:00:00.263755,battery,parral,00-17-0d-00-00-59-d1-f1,FFC_SENSOR_BAT,FFC_SENSOR_OK,3.1876
1,2020-12-03T00:00:01.508517,battery,parral,00-17-0d-00-00-59-cd-ba,FFC_SENSOR_BAT,FFC_SENSOR_OK,3.1984
2,2020-12-03T00:00:02.233210,battery,parral,00-17-0d-00-00-59-cd-c9,FFC_SENSOR_BAT,FFC_SENSOR_OK,3.1668
3,2020-12-03T00:00:03.477323,battery,parral,00-17-0d-00-00-59-a9-fb,FFC_SENSOR_BAT,FFC_SENSOR_OK,3.1248
4,2020-12-03T00:00:04.178922,battery,parral,00-17-0d-00-00-59-d1-e6,FFC_SENSOR_BAT,FFC_SENSOR_OK,3.1704

Let's build a dataframe with temperature data

In [4]:
data_temp = data[data.measurement == 'air_temp']

In [5]:
data_temp_ok = data_temp[data_temp.sensor_status == 'FFC_SENSOR_OK']

In [6]:
data_temp_ok.head()

,time,measurement,site_id,mote_id,sensor_id,sensor_status,sensor_value
213896,2020-12-03T00:00:02.233210,air_temp,parral,00-17-0d-00-00-59-cd-c9,FFC_SENSOR_SHT3x0,FFC_SENSOR_OK,19.279
213897,2020-12-03T00:00:02.233210,air_temp,parral,00-17-0d-00-00-59-cd-c9,FFC_SENSOR_SHT3x1,FFC_SENSOR_OK,19.957
213898,2020-12-03T00:00:02.233210,air_temp,parral,00-17-0d-00-00-59-cd-c9,FFC_SENSOR_SHT3x2,FFC_SENSOR_OK,20.341
213899,2020-12-03T00:00:02.233210,air_temp,parral,00-17-0d-00-00-59-cd-c9,FFC_SENSOR_SHT3x3,FFC_SENSOR_OK,20.654
213900,2020-12-03T00:00:03.477323,air_temp,parral,00-17-0d-00-00-59-a9-fb,FFC_SENSOR_SHT3x1,FFC_SENSOR_OK,19.936