Modelo para testear si funciona el pipeline con una serie temporal de 1 sensor de temperatura y de 1 estación externa.

Input: Dataframe en un archivo csv con timestamps, 6 valores de temperatura (última hora) de 1 sensor de temperatura y de 1 estación externa (usar estación Parral o Monte Flor por ahora). El archivo test.csv es un ejemplo del input requerido.

Output: Se genera un dataframe con la predicción para la próxima hora (6 valores de temperatura).

In [1]:
import pandas as pd
from statsmodels.tsa.statespace.varmax import VARMAXResults

model = VARMAXResults.load('vmx_model.pkl')

In [2]:
# Load recent data
test = pd.read_csv('test.csv', index_col=0)

In [3]:
test.head()

                     temp_sensor   temp_ext
time
2020-12-03 23:00:00    22.154542  22.860966
2020-12-03 23:10:00    21.694717  23.480283
2020-12-03 23:20:00    21.116712  22.722898
2020-12-03 23:30:00    20.541633  21.808783
2020-12-03 23:40:00    20.191847  21.927186

In [6]:
test2 = test.copy()

In [7]:
test2.temp_sensor = test2.temp_sensor.shift(1)

In [10]:
test2.head()

                     temp_sensor   temp_ext
time
2020-12-03 23:00:00    23.000000  22.860966
2020-12-03 23:10:00    22.154542  23.480283
2020-12-03 23:20:00    21.694717  22.722898
2020-12-03 23:30:00    21.116712  21.808783
2020-12-03 23:40:00    20.541633  21.927186

In [9]:
test2.temp_sensor[0] = 23

In [4]:
# make prediction
yhat = model.forecast(steps=len(test))

res=pd.DataFrame({"t_pred":yhat['temp_sensor']})

In [5]:
res

                        t_pred
2020-12-04 00:00:00  21.554171
2020-12-04 00:10:00  23.131725
2020-12-04 00:20:00  23.010177
2020-12-04 00:30:00  22.858781
2020-12-04 00:40:00  22.711926
2020-12-04 00:50:00  22.570146

In [11]:
# make prediction
yhat = model.forecast(steps=len(test2))

res=pd.DataFrame({"t_pred":yhat['temp_sensor']})

In [12]:
res

                        t_pred
2020-12-04 00:00:00  21.554171
2020-12-04 00:10:00  23.131725
2020-12-04 00:20:00  23.010177
2020-12-04 00:30:00  22.858781
2020-12-04 00:40:00  22.711926
2020-12-04 00:50:00  22.570146